<h1>Rock, Paper, Scissors</h1>

<hr>
<br>

<h2><%=@scenario %></h2>
<%= link_to 'Play Again', rps_path %>
<p />
<p />
<br>
 	&nbsp;
    &nbsp;
<b><%=@pickedName %></b>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
<b><%=@random %></b>

<p />