<h1>Rock, Paper, Scissors</h1>
<hr>
<br>

<h2><b>Let's Play! Choose One:</b></h2>

<br>

<% @gameArray.each do |rps| %>
    <%= link_to (rps), choose_rps_path(:name => rps) %>
    &nbsp;
    &nbsp;
    &nbsp;
<% end %>